#container{
	width: 1200px;
	margin: 0px auto;
}

#header,#titlebar,#content-bar{
	display: block;
}

#header{
	background-color: #f3f3f3;
	margin: 0px;
}

#logo,#right-header{
	display: inline-block;
	vertical-align: top;
}

#right-header .nav-bar ul{
	margin: 0px 0px 0px 300px;
	background-color: #e3e3e3;
	border: 1px solid #d3d3d3;
	padding: 0px 5px 10px 5px;
	color: gray;
	font-size: 13px;
}

#right-header .nav-bar ul li{
	display: inline;
	padding: 0px 5px;

}

#right-header span{
	display: inline-block;
	margin-left: 20px;
	border-radius: 5px;
	color: white;
	padding: 5px;
	font-size: 13px;
	background: #3498db;
  	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  	background-image: -o-linear-gradient(top, #3498db, #2980b9);
  	background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

#right-header .nav-bar{
	display: inline-block;
	margin: 0px;
	vertical-align: top;
}

#titlebar{
	color: white;
  	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  	background-image: -o-linear-gradient(top, #3498db, #2980b9);
  	background-image: linear-gradient(to bottom, #3498db, #2980b9);
}

#titlebar h1{
	font-size: 22px;
	padding: 20px 100px 20px 0px;
	vertical-align: middle;
	position: relative;
	margin: 0px 0px 0px 80px;
	font-family: 'Verdana';
}

#bread-scrumb{
	
	height: 50 px;
	width: auto;
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: -moz-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: -ms-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: -o-linear-gradient(top, #e8e8e8, #ffffff);
  background-image: linear-gradient(to bottom, #e8e8e8, #ffffff);
}


#bread-scrumb .bs-img{
	display: inline-block;
	padding: 10px;
	margin-left: 450px;
	vertical-align: top;
}

#bread-scrumb .bs-img h3{
	margin:5px;
	padding-bottom: 10px;
	display: inline-block;
	vertical-align: top;
	color: #3498db;
}

#bread-scrumb .phone-no{
	display: inline-block;
	vertical-align: top;
	margin-left: 400px;
}


#left-bar{
	display: inline-block;
	width: 300px;
	background-color: #fbfbfb;
	height: 500px;
	vertical-align: top;
}

#right-bar{
	display: inline-block;
	width: 890px;
	background-color: #fbfbfb;
	height: 500px;
	vertical-align: top;
	border-top: 2px solid #d3d3d3;
}

#left-bar h1{
	font-size: 20px;
	color: #3498db;
	margin: 10px ;
	font-weight: normal;
}

#left-bar h3{
	font-size: 14px;
	color: orange;
	text-decoration: bold;
	margin: 10px 10px 0px 10px ;
}

#left-bar h2.normalh2{
	font-size: 16px;
	color: gray;
	margin: 0px 10px;
	font-weight: normal;
}

#left-bar h2.bluebutton{
	font-size: 16px;
	color: white;
	font-weight: bold;
	background: #3498db;
  	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  	background-image: -o-linear-gradient(top, #3498db, #2980b9);
  	background-image: linear-gradient(to bottom, #3498db, #2980b9);

  	margin: 40px 30px 2px 30px;
  	padding: 10px 5px;
  	text-align: center;
  	border-radius: 10px;
}

#left-bar h2.redbutton{
	font-size: 16px;
	color: white;
	font-weight: bold;
  background: #edc1a1;
  background-image: -webkit-linear-gradient(top, #edc1a1, #de6321);
  background-image: -moz-linear-gradient(top, #edc1a1, #de6321);
  background-image: -ms-linear-gradient(top, #edc1a1, #de6321);
  background-image: -o-linear-gradient(top, #edc1a1, #de6321);
  background-image: linear-gradient(to bottom, #edc1a1, #de6321);

  	margin: 5px 30px 2px 30px;
  	padding: 10px 5px;
  	text-align: center;
  	border-radius: 10px;
}

#left-bar h2.centered{
margin-left: 80px;
}

#left-bar img{

	margin-left: 14%;
	margin-top: 40px;

}